body {
	font-family:Tahoma,Verdana;
	font-size : 13px;
}

#summary {
	background-color:white;
	color:black;
}

#summary td {
	font-size : 12px;
	text-indent: 3px;
	padding: 2px;	 
	#border-top : 1px solid rgb(238, 238, 238); 
	border-bottom : 1px solid rgb(238, 238, 238); 
}

#summary .label{
	font-weight: bold;
	color:#447294
}

#summary .value{
	font-weight: normal;
	color:#321; //5FAB12
}

.CloneSet {
	font-family:verdana;
	font-size:13px;
	padding:3px; 
	margin-top:8px; 
	border-radius:10px;
	border:2px solid #A5B557; //739240
	background-color:white; 
	width: 800px;
  	min-width: 800px;
}

.CloneSet_Header{
	font-size: 12px; 
	text-align:center;
	color:#2E5CB8
}

.CloneFragment {
	font-family:verdana;
	font-size:13px;
	padding: 1px 4px; 
	margin-top:4px;
	border-radius:10px;
	border-left:2px solid #EE872A; 
	border-right:2px solid #EE872A; 
	background-color:white;
}

.CloneFragment_Header {
	padding-bottom:2px; 
	font-size:11px; 
	font-style:italic;
	text-align: right; 
	color:#122F0C
}

.SourceCode {
	opacity:0.7;
	padding-left: 4px;
	padding-right: 4px;
	border-radius:10px;
	background-color:#D6E4E1; 
	font-family:courier; 
	#white-space:nowrap;"
}

pre {
	padding: 2px!important;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}