<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="5" android:versionName="1.0.3" android:installLocation="auto" package="com.pinterest"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <supports-screens android:smallScreens="false" />
    <application android:theme="@style/Theme.Pinterest" android:label="@string/app_name" android:icon="@drawable/app_icon" android:name=".base.Application" android:hardwareAccelerated="true">
        <activity android:theme="@android:style/Theme.Light.NoTitleBar" android:label="@string/app_name" android:name=".activity.PinterestActivity" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.Pinterest" android:label="" android:name=".activity.signin.SplashActivity" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:theme="@style/Theme.Pinterest" android:label="" android:name=".activity.signin.LoginActivity" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:theme="@style/Theme.Pinterest.Home" android:label="" android:name=".activity.home.HomeActivity" android:configChanges="keyboardHidden" />
        <activity android:theme="@style/Theme.Pinterest.DialogActivity" android:label="" android:name=".activity.activity.ActivityOverlayActivity" android:configChanges="keyboardHidden" android:windowSoftInputMode="stateHidden" />
        <activity android:label="" android:name=".activity.pin.PinActivity" android:configChanges="keyboardHidden" android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/com.pinterest.beam.pin" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.Pinterest.DialogActivity" android:label="" android:name=".activity.pin.PinOverlayActivity" android:configChanges="keyboardHidden" android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:theme="@style/Theme.Pinterest.User" android:label="" android:name=".activity.user.UserActivity" android:configChanges="keyboardHidden">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/com.pinterest.beam.user" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.Pinterest.AbButton" android:label="" android:name=".activity.user.UserFollowViewActivity" android:configChanges="keyboardHidden|orientation" />
        <activity android:theme="@style/Theme.Pinterest.DialogActivity" android:name=".activity.user.UserImageActivity" />
        <activity android:theme="@style/Theme.Pinterest.AbIcon" android:label="" android:name=".activity.board.BoardActivity" android:configChanges="keyboardHidden">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/com.pinterest.beam.board" />
            </intent-filter>
        </activity>
        <activity android:label="" android:name=".activity.explore.ExploreActivity" android:configChanges="keyboardHidden" />
        <activity android:theme="@style/Theme.Pinterest.AbIcon" android:label="" android:name=".activity.domain.DomainActivity" android:configChanges="keyboardHidden" />
        <activity android:label="" android:name=".activity.signin.TwitterAuthActivity" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="" android:name=".activity.settings.AccountSettingsActivity" android:configChanges="keyboardHidden|orientation" />
        <activity android:theme="@style/Theme.Pinterest.Search" android:label="" android:name=".activity.search.SearchActivity" android:configChanges="keyboardHidden" android:windowSoftInputMode="stateUnchanged" />
        <activity android:label="" android:name=".activity.report.ReportPinActivity" android:configChanges="keyboardHidden|orientation" />
        <activity android:theme="@style/Theme.Pinterest.DialogActivity" android:label="" android:name=".activity.report.ReportPinOverlayActivity" android:configChanges="keyboardHidden" android:windowSoftInputMode="stateHidden" />
        <activity android:label="" android:name=".activity.findfriends.FindFriendsActivity" android:configChanges="keyboardHidden|orientation" />
        <activity android:theme="@style/Theme.Pinterest.DialogActivity" android:label="" android:name=".activity.findfriends.FindFriendsOverlayActivity" android:configChanges="keyboardHidden" android:windowSoftInputMode="stateHidden" />
        <activity android:label="" android:name=".activity.create.CreateActivity" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:theme="@style/Theme.Pinterest.DialogActivity" android:label="" android:name=".activity.create.CreateOverlayActivity" android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:label="" android:name=".activity.create.CreateBoardsActivity" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:label="" android:name=".activity.create.RepinActivity" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:theme="@style/Theme.Pinterest.DialogActivity" android:label="" android:name=".activity.create.RepinOverlayActivity" android:configChanges="keyboardHidden" android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:label="@string/create_pin" android:name=".activity.create.PinItActivity" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity android:label="" android:name=".ui.PWebViewActivity" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustResize" />
        <activity android:theme="@style/Theme.Pinterest.DialogActivity" android:label="@string/app_name" android:name=".activity.webhook.WebhookActivity" android:launchMode="singleTask" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="pinterest.com" />
                <data android:scheme="http" android:host="m.pinterest.com" />
                <data android:scheme="http" android:host="www.pinterest.com" />
                <data android:scheme="http" android:host="appstaging.pinterest.com" />
                <data android:scheme="http" android:host="m.appstaging.pinterest.com" />
                <data android:scheme="pinterest://http" />
                <data android:scheme="pinit12://http" />
                <data android:scheme="pinterest" />
                <data android:scheme="pinit12" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="pinterest" />
                <data android:scheme="pinit12" />
            </intent-filter>
        </activity>
        <service android:name=".service.PinterestWorkerService" />
        <activity android:name="com.crittercism.NotificationActivity" />
    </application>
</manifest>
