body { 
margin: 0;
padding: 0; 
background: #f5f5f5;
color: #333;
line-height: 24px;
font-size: 16px;
font-family: Georgia, Verdana, sans-serif;
}

a { color: #000088; }
a:hover { color: #880000; }

#wrap { 
margin: 0 auto;
width: 100%;
max-width: 800px;
}

#header {
height: 140px;
}
#header h1 {
padding: 0px 0 0 0;
margin: 10;
font-weight: normal;
color: #3e3e3e;
font-size: 50px;
line-height: 110px;
}

/*
#header h2 {
padding: 0; 
margin: 0;
font-weight: normal;
color: #3f3f3f;
font-size: 33px;
}
*/

#menu {
background: #880000;
height: 50px;
line-height: 50px;
color: #fff;
font-size: 19px;
}

#menu ul {
margin: 0;
padding: 0 0 0 10px;
list-style-type: none;
}
#menu ul li {
display: inline; 
padding: 0 25px;
}
#menu ul li a {
text-decoration: none;
color: #fff;
}
#menu ul li a:hover {
color: #ffffbb;
text-decoration: none;
}

#content { background: #fff; padding: 10px 20px;}
#content h2 { padding-top: 10px; font-weight: normal; font-size: 30px; color: #383838; }
#content h3 { font-weight: normal; font-size: 21px; color: #880000; }
#content h4 { 
	font-weight: normal; 
	font-size: 18px; 
	padding: 0px 0px 0px 2px; 
	color: #383838  ; 
	margin-bottom:3px; 
	margin-top: 30px; 
}

#footer { 
background: #353535;
color: #fff;
padding: 20px 30px;
text-align: center;
}
#footer a { color: #fff; text-decoration: none; }
#footer a:hover { color: #fff88e; }

.left { float: left; }
.right { float: right; }
.clear { clear: both; }


#subfooter{
	margin-left: 0%;

}


pre { font: 100% courier,monospace; border: 1px solid #ccc; overflow: auto; overflow-x: scroll; width: 90%; padding: 0 1em 1em 1em; margin: 1em auto 2em auto; background: #fff7f0; color: #000 }
code { font-size: 120% }


tr.d0 td {
	background-color: #606060  ; color: black;
}
tr.d1 td {
	background-color: white; color: black;
}

tr.d2 td {
	background-color: #B8B8B8; color: black;
}



table
{
border-collapse:collapse;
}
table, th, td
{
border: 1px solid black;
padding: 4px;
}

th
{
	font-family: Georgia, serif;
	background-color:#880000;
	color:white;
	font-size: 13px;
}


